[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pytest = "==6.1.1"
appium-python-client = "==1.0.2"
pre-commit = "*"
flake8 = "*"
mypy = "*"
isort = "*"

[dev-packages]

[requires]
python_version = "3.10"
